@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');
body {
    background-color: #fdfdfd;
    font-family: 'Noto Sans JP', sans-serif;
}
#theam {
    position: fixed;
    right: 10rem;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
}
#theam i {
    font-size: 30px;
    user-select: none;
}
#theam:hover {
    transition: 0.6s;
}
.main {
    width: 20rem;
    margin: 6rem auto;
    border-radius: 2rem;
    text-align: center;
    padding: 40px 20px 20px 20px;
}
#disp {
    display: inline-block;
    padding: 2rem 1rem;
    width: 270px;
    border-radius: 5px;
    height: 6rem;
    text-align: left;
    font-size: 20px;
    overflow-y: auto;
    box-sizing: border-box;
}
.div_btn {
    margin: 10px auto;
    text-align: center;
}
.btn {
    border: none;
    width: 55px;
    height: 55px;
    border-radius: 5px;
    margin: 6px;
    text-align: center;
    font-size: 25px;
    font-family: 'Noto Sans JP', sans-serif;
    cursor: pointer;
}
.btn:hover {
    transition: 0.6s;
}
#solve {
    width: 126px;
}
@media only screen and (max-width: 750px){
    #theam {
        right: 1rem;
        top: 1rem;
    }
} 